.header {
  width: 100%;
  background-color: var(--secondary-color-one);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
  padding: 0 3rem;
}

.header_nav {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "logo search icons";
  grid-template-columns: 30% 60% 10%;
  height: 100%;
  padding: 2rem 3rem;
}

.nav_logo {
  grid-area: logo;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--primary-color-one);
  cursor: pointer;
}

.nav_search {
  margin-left: auto;
  margin-right: 2rem;
  max-width: 30rem;
  width: 100%;
}

.nav_search input {
  border: none;
  border: 1px solid var(--border-color-dark);
  padding: 0.6rem 1.2rem;
  font-size: 1.7rem;
  border-radius: 5px;
  width: 100%;
}

.nav_settings {
  margin-left: auto;
  margin-right: 1rem;
  gap: 2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav_settings span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_settings svg {
  font-size: 3.2rem;
}

.nav_settings span:last-child svg {
  color: var(--primary-color-one);
}
