.header {
  width: 100%;
  background-color: var(--background-color-one);
  box-shadow: 0 1.2rem 3.2rem var(--header-bg-shadow);
  padding: 0 2rem;
  height: 8.5rem;
}

.header_nav {
  display: grid;
  align-items: center;
  grid-template-areas: "logo search icons";
  grid-template-columns: 30% 65% 5%;
  height: fit-content;
  padding: 2rem 3rem;
}

.nav_logo {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.logoMin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  max-width: 5rem;
  width: 100%;
  height: 100%;
}

.logoMin img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.logoMax {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--text-color-highlight);
}

.nav_search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
  max-width: 30rem;
  width: 100%;
}

.nav_search label {
  display: flex;
}

.nav_search input {
  max-width: 30rem;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  width: 100%;
  font-family: inherit;
}

.nav_search input,
.nav_search label {
  background-color: var(--background-color-one);
  color: var(--text-color-one);
  width: 100%;
}

.nav_search input::placeholder {
  color: var(--text-color-two);
}

.nav_search input:focus {
  outline: none;
}

.nav_search label {
  border-radius: 0;
  border-bottom: 2px solid var(--border-color-highlight);
}

.nav_search .headerIcon {
  padding: 0 0.75rem;
  border-radius: 0.8rem;
}

.nav_search svg {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--text-color-two);
}

.searchResult_container {
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 0%;
  max-width: 30rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 23rem;
  overflow-y: scroll;
  background-color: var(--background-color-two);
  display: none;
}

.searchResult_container.active {
  display: flex;
  padding: 0.75rem 0.75rem;
}

.searchResult_container::-webkit-scrollbar {
  width: 0.3rem;
}

.searchResult_container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-one);
  border-radius: 2px;
}

.searchResult_container::-webkit-scrollbar-track {
  background-color: transparent;
}

.searchResult_container-section,
.searchResult_container-section span {
  display: inline-block;
  background-color: transparent;
  font-size: 1.55rem;
}

.searchResult_container-section {
  align-items: center;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.1s;
}

.searcResult_card {
  padding: 0.25rem 0.5rem 0.25rem 1rem;
}

.searchResult_container-section:hover {
  background-color: var(--primary-color-shade);
}

.searchResult_container .searchResult_Imgcontainer {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.searchResult_container .searchResult_Imgcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.searchResult_container-name {
  text-transform: capitalize;
}

.searchResult_container-section-error {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 1.5rem 0;
  font-size: 1.7rem;
}

.nav_settings {
  margin-left: auto;
  cursor: pointer;
}

.nav_settings svg {
  font-size: 3rem;
}

/*  1312px === 82em  */
@media (max-width: 82em) {
  .header_nav {
    padding: 2rem;
  }
}

/*  1200px === 75em  */
@media (max-width: 75em) {
  .header {
    padding: 0 1rem;
  }

  .header_nav {
    padding: 2rem 1rem;
  }

  .nav_settings svg {
    font-size: 2.8rem;
  }
}

/*  768px === 48em  */
@media (max-width: 48em) {
  .header_nav {
    padding: 2rem 0.5rem 2rem 0.25rem;
  }

  .nav_logo {
    font-size: 2.2rem;
    letter-spacing: 0.5px;
  }

  .nav_search {
    max-width: 25rem;
  }

  .nav_search input {
    max-width: 25rem;
  }

  .searchResult_container {
    top: 125%;
    max-width: 25rem;
    padding: 0.5rem;
    gap: 1rem;
  }

  .searchResult_container.active {
    padding: 0.4rem 0.4rem;
  }

  .searchResult_container .searchResult_Imgcontainer {
    width: 4rem;
    height: 4rem;
  }

  .nav_settings svg {
    font-size: 2.8rem;
  }
}

/*  544px === 34em  */
@media (max-width: 34em) {
  .header {
    padding: 0 0.5rem;
  }

  .header_nav {
    grid-template-areas: "logo search icons";
    grid-template-columns: 10% 80% 10%;
  }

  .logoMax {
    display: none;
  }

  .nav_search {
    max-width: 30rem;
  }

  .nav_search input {
    max-width: 30rem;
    padding: 0.6rem 1.2rem;
  }

  .nav_search svg {
    font-size: 2.4rem;
  }

  .nav_search .headerIcon {
    padding: 0 0.5rem;
  }

  .searchResult_container {
    max-width: 30rem;
  }

  .searchResult_container-section-error {
    font-size: 1.6rem;
  }
}

/*  448px === 28em  */
@media (max-width: 28em) {
  .header_nav {
    grid-template-areas: "logo search icons";
    grid-template-columns: 15% 72.5% 12.5%;
    align-items: center;
  }

  .logoMax {
    display: none;
  }

  .nav_search {
    max-width: 30rem;
  }

  .nav_search input {
    max-width: 30rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.55rem;
  }

  .nav_search svg {
    font-size: 2.1rem;
  }

  .nav_search span {
    padding: 0 0.25rem;
  }

  .searchResult_container {
    max-width: 30rem;
  }
}
