.profile_container {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  margin: 2rem 0;
  width: 100%;
  gap: 1.5rem;
  background-color: var(--background-color-one);
  border-radius: 0.8rem;
}

.profile_ImgContainer {
  flex-shrink: 0;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile_ImgContainer img {
  vertical-align: middle;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_detailsContainer {
  width: 100%;
  gap: 2rem;
}

.profile_details-partOne {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile_details-partOne div:first-child {
  display: flex;
  flex-direction: column;
}

.profile_details-partOne .fullname {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.profile_details-partOne .username {
  color: var(--text-color-two);
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: -0.4rem;
}

.profileIcon {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logoutIcon svg {
  font-size: 2.8rem;
  cursor: pointer;
}

.logoutIcon svg:hover {
  color: var(--error-color);
}

.profile_details-partOne .profile-edit {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  border: 1px solid var(--border-color-dark);
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.25s;
}

.profile-edit:hover {
  color: var(--background-color-one);
  background-color: var(--primary-color-one);
}

.profile_details-partTwo span {
  font-size: 1.8rem;
  letter-spacing: 0.25px;
}

.profile_details-partThree {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.profile_details-partThree span {
  display: inline-block;
  color: var(--primary-color-one);
  font-size: 1.8rem;
  font-weight: 500;
}

.profile_details-partFour span {
  display: flex;
  align-items: center;
}

.profile_details-partFour span a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: 1.6rem;
  color: blue;
  text-decoration: underline;
}

.profile_details-partFour span svg {
  font-size: 2.6rem;
  margin-right: 1rem;
}

.btn.reloadBtn {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  border-radius: 5px;
}

.user_followersList,
.user_followingList {
  cursor: pointer;
}

/*  1024px === 64em  */
@media (max-width: 64em) {
  .profile_container {
    padding: 2rem;
    margin: 2rem 0;
    gap: 1.5rem;
  }

  .profile_ImgContainer {
    width: 6rem;
    height: 6rem;
  }

  .profile_detailsContainer {
    width: 100%;
    gap: 2rem;
  }

  .profile_details-partOne .fullname {
    font-size: 1.8rem;
  }

  .profile_details-partOne .username {
    font-size: 1.65rem;
    margin-top: 0;
  }

  .profileIcon {
    gap: 1.5rem;
  }

  .profile_details-partOne .profile-edit {
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
  }

  .profile_details-partTwo span {
    font-size: 1.8rem;
  }

  .profile_details-partThree {
    gap: 1.5rem;
  }
  .profile_details-partThree span {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .profile_details-partFour span a {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    color: blue;
    text-decoration: underline;
  }

  .profile_details-partFour span svg {
    font-size: 2.4rem;
  }
}

/*  544px === 34em  */
@media (max-width: 34em) {
  .profile_container {
    padding: 1.75rem 1rem;
    margin: 0.5rem 0;
    gap: 1rem;
  }

  .profile_ImgContainer {
    width: 4.5rem;
    height: 4.5rem;
  }

  .profile_detailsContainer {
    width: 100%;
    gap: 2rem;
  }

  .profile_details-partOne .fullname {
    font-size: 1.8rem;
  }

  .profile_details-partOne .username {
    font-size: 1.6rem;
    margin-top: 0;
  }

  .profileIcon {
    gap: 1rem;
  }

  .logoutIcon svg {
    font-size: 2.6rem;
  }

  .profile_details-partOne .profile-edit {
    padding: 0.4rem 0.8rem;
    font-size: 1.7rem;
  }

  .profile_details-partTwo span {
    font-size: 1.7rem;
  }

  .profile_details-partThree {
    gap: 1rem;
  }

  .profile_details-partThree span {
    font-size: 1.7rem;
    font-weight: 500;
  }

  .btn.reloadBtn {
    padding: 0.4rem 0.8rem;
    font-size: 1.65rem;
  }
}

/*  368px === 23em  */
@media (max-width: 23em) {
  .profile_container {
    padding: 1.75rem 0.75rem;
    gap: 0.75rem;
  }

  .profile_detailsContainer {
    gap: 1.5rem;
  }

  .profile_details-partTwo {
    margin-left: -5rem;
  }

  .profile_details-partThree {
    gap: 0.75rem;
    margin-left: -5rem;
  }

  .profile_details-partThree span {
    font-size: 1.65rem;
  }

  .profile_details-partFour {
    margin-left: -5rem;
  }
}
