.profile_container {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  margin: 2rem 0;
  width: 100%;
  gap: 1.5rem;
  background-color: var(--background-color-one);
  border-radius: 0.8rem;
}

.profile_ImgContainer {
  flex-shrink: 0;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile_ImgContainer img {
  vertical-align: middle;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_detailsContainer {
  width: 100%;
  gap: 2rem;
}

.profile_details-partOne {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile_details-partOne div:first-child {
  display: flex;
  flex-direction: column;
}

.profile_details-partOne .fullname {
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: capitalize;
}

.profile_details-partOne .username {
  color: var(--text-color-two);
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: -0.4rem;
}

.profileIcon {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logoutIcon svg {
  font-size: 2.8rem;
  cursor: pointer;
}

.logoutIcon svg:hover {
  color: var(--error-color);
}

.profile_details-partOne .profile-edit {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1.75rem;
  border: 1px solid var(--border-color-dark);
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.25s;
}

.profile-edit:hover {
  color: var(--text-color-four);
  background-color: var(--primary-color-one);
}

.profile_details-partTwo span {
  font-size: 1.75rem;
  letter-spacing: 0.25px;
}

.profile_details-partThree {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.profile_details-partThree span {
  display: inline-block;
  color: var(--text-color-highlight);
  font-size: 1.75rem;
  font-weight: 500;
}

.profile_details-partFour span {
  display: flex;
  align-items: center;
}

.profile_details-partFour span a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: 1.55rem;
  color: var(--link-color);
  text-decoration: underline;
}

.profile_details-partFour span svg {
  font-size: 2.4rem;
  margin-right: 0.5rem;
  transform: rotate(-45deg);
}

.btn.reloadBtn {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  border-radius: 5px;
  color: var(--text-color-four);
}

.user_followersList,
.user_followingList {
  cursor: pointer;
}

.followListModal_section {
  position: absolute;
  z-index: 100;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 32rem;
  width: 100%;
  background-color: var(--background-color-two);
  border: 1.5px solid var(--border-color-dark);
  border-radius: 0.8rem;
}

.followListModal_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
}

.followListModal_container p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color-dark);
  padding: 0.5rem 0;
}

.followListModal_container p span:first-child {
  font-size: 1.8rem;
  font-weight: 600;
}

.followListModal_container p span:last-child svg {
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.2s;
}

.followListModal_container p span:last-child svg:hover {
  color: var(--error-color);
}

.followListModal_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 30rem;
  overflow-y: scroll;
  padding: 0 0.25rem;
}

.followListModal_wrapper::-webkit-scrollbar {
  width: 0.3rem;
}

.followListModal_wrapper::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-one);
  border-radius: 2px;
}

.followListModal_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.followListModal_listItem,
.followListModal_listItem span {
  display: inline-block;
  background-color: transparent;
  padding: 0.4rem 0.25rem;
  font-size: 1.55rem;
}

.followListModal_listItem-partOne,
.followListModal_listItem-partTwo {
  cursor: pointer;
}

.followListModal_listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: all 0.1s;
  padding: 0.25rem;
}

.followListModal_listItem:hover {
  border-radius: 0.5rem;
  background-color: var(--primary-color-shade);
}

.followListModal_listItem .followListModal_listItem_Imgcontainer {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  margin-right: 0.25rem;
  cursor: pointer;
}

.followListModal_listItem_Imgcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.followListModal_listItem-name {
  text-transform: capitalize;
  font-size: 1.6rem;
}

.searchResult_container-section:hover {
  background-color: var(--primary-color-shade);
}

.followListModal_listItem-partTwo .unfollow {
  font-size: 1.6rem;
  color: var(--text-color-two);
}

.followListModal_listItem-partTwo .follow {
  font-size: 1.6rem;
  color: var(--text-color-highlight);
}

/*  1024px === 64em  */
@media (max-width: 64em) {
  .profile_ImgContainer {
    width: 5.5rem;
    height: 5.5rem;
  }

  .profile_details-partOne .fullname {
    font-size: 1.8rem;
  }

  .profile_details-partOne .username {
    font-size: 1.65rem;
    margin-top: 0;
  }

  .profileIcon {
    gap: 1.5rem;
  }

  .profile_details-partOne .profile-edit {
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
  }

  .profile_details-partThree {
    gap: 1.5rem;
  }

  .profile_details-partFour span a {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
  }
}

/*  544px === 34em  */
@media (max-width: 34em) {
  .profile_container {
    padding: 1.75rem 1rem;
    margin: 1.5rem 0 0.5rem 0;
    gap: 1rem;
  }

  .profile_ImgContainer {
    width: 4.5rem;
    height: 4.5rem;
  }

  .profile_details-partOne .username {
    font-size: 1.6rem;
  }

  .profileIcon {
    gap: 1rem;
  }

  .logoutIcon svg {
    font-size: 2.6rem;
  }

  .profile_details-partOne .profile-edit {
    padding: 0.4rem 0.8rem;
  }

  .profile_details-partTwo span {
    font-size: 1.7rem;
  }

  .profile_details-partThree {
    gap: 1rem;
  }

  .profile_details-partThree span {
    font-size: 1.7rem;
  }

  .btn.reloadBtn {
    padding: 0.4rem 0.8rem;
    font-size: 1.65rem;
  }

  .followListModal_section {
    top: 60%;
    left: 50%;
    max-width: 30rem;
  }

  .followListModal_container {
    padding: 0.75rem 0.75rem;
  }

  .followListModal_container p span:first-child {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .followListModal_wrapper {
    max-height: 30rem;
  }

  .followListModal_listItem .followListModal_listItem_Imgcontainer {
    width: 4rem;
    height: 4rem;
  }

  .followListModal_listItem-partTwo .unfollow {
    font-size: 1.5rem;
  }

  .followListModal_listItem-partTwo .follow {
    font-size: 1.5rem;
  }
}

/*  368px === 23em  */
@media (max-width: 23em) {
  .profile_container {
    padding: 1.75rem 0.75rem;
    gap: 0.75rem;
  }

  .profile_detailsContainer {
    gap: 1.5rem;
  }

  .profile_details-partTwo {
    margin-left: -5rem;
  }

  .profile_details-partThree {
    gap: 0.75rem;
    margin-left: -5rem;
  }

  .profile_details-partThree span {
    font-size: 1.65rem;
  }

  .profile_details-partFour {
    margin-left: -5rem;
  }
}
