/* Initial setup */

:root {
  --text-color-one: #333;
  --text-color-two: #5a5a5a;
  --primary-color-one: #3c0ac2;
  --primary-color-two: #30089b;
  --secondary-color-one: #fff;
  --secondary-color-two: #f9fafb;
  --secondary-color-three: #f6f7fb;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --border-radius: 0.8rem;
  --border-color-dark: #ccc;
  --border-color-light: #eee;
  --border-color-highlight: #3c0ac2;
  --background-color-one: #fff;
  --background-color-two: #ddd;
}

.customCSS {
  background-color: #fff;
  color: #2ecc71;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  color: var(--text-color-one);

  /* If any child element has postion sticky then this  overflow-x property in parent container element doesn't work well , so we are using overflow clip but only draw back of overflow clip is that 5% of safari broswer and IE broswer do not support so for fall back we are using overflow-x hidden */
  overflow-x: hidden;
  overflow-x: clip;
  /* min-height: 100vh; */
}

#root {
  width: 100%;
}
