@import url(../pages/LandingPage/landingPage.css);
@import url(../pages/Login/loginPage.css);
@import url(../pages//Signup/signUpPage.css);

.sprectrumApp_container {
  position: relative;
  width: 100%;
  height: fit-content;
}

.homePage_container {
  max-width: 145rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.75fr 5.75fr 2.5fr;
  grid-template-areas: "sidebar main suggestion";
  gap: 1.5rem;
  height: fit-content;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.postFeed_container {
  width: 100%;
}

.postModal_main-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  background-color: var(--background-color-one);
  max-width: 45rem;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 0.8rem;
  padding: 1.5rem;
}

.profileModal_main-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  background-color: var(--background-color-one);
  max-width: 45rem;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 0.8rem;
  padding: 1.5rem;
}

/*  1312px === 82em  */
@media (max-width: 82em) {
  .homePage_container {
    display: grid;
    grid-template-columns: 1.75fr 5.5fr 2.75fr;
    gap: 1.25rem;
    padding: 1rem 1rem 3.5rem 1rem;
  }
}

/*  1200px === 75em  */
@media (max-width: 75em) {
  .homePage_container {
    grid-template-columns: 0.2fr 6.6fr 3.3fr;
    gap: 1.5rem;
  }
}

/*  1024px === 64em  */
@media (max-width: 64em) {
  .homePage_container {
    grid-template-areas: "sidebar main suggestion";
    grid-template-columns: 0.2fr 6.6fr 3.3fr;
    gap: 1rem;
  }
}

/*  944px === 59em  */
@media (max-width: 59em) {
  .homePage_container {
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 9fr;
    gap: 1rem;
  }
}

/*  544px === 34em  */
@media (max-width: 34em) {
  .homePage_container {
    grid-template-areas: " main";
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
