@import url(../pages/LandingPage/landingPage.css);
@import url(../pages/Login/loginPage.css);
@import url(../pages//Signup/signUpPage.css);

.sprectrumApp_container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
