@import url(../pages/style/pages.css);
@import url(../components/style/components.css);

.sprectrumApp_container {
  position: relative;
  width: 100%;
  height: fit-content;
}

.homePage_container {
  max-width: 145rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.75fr 5.75fr 2.5fr;
  grid-template-areas: "sidebar main suggestion";
  gap: 1.5rem;
  height: fit-content;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.profileModal_overlay,
.postModal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/*  1312px === 82em  */
@media (max-width: 82em) {
  .homePage_container {
    display: grid;
    grid-template-columns: 1.75fr 5.5fr 2.75fr;
    gap: 1.25rem;
    padding: 1rem 1rem 3.5rem 1rem;
  }
}

/*  1200px === 75em  */
@media (max-width: 75em) {
  .homePage_container {
    grid-template-columns: 0.2fr 6.6fr 3.3fr;
    gap: 1.5rem;
  }
}

/*  1024px === 64em  */
@media (max-width: 64em) {
  .homePage_container {
    grid-template-areas: "sidebar main suggestion";
    grid-template-columns: 0.2fr 6.6fr 3.3fr;
    gap: 1rem;
  }
}

/*  944px === 59em  */
@media (max-width: 59em) {
  .homePage_container {
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 9fr;
    gap: 1rem;
  }
}

/*  544px === 34em  */
@media (max-width: 34em) {
  .homePage_container {
    grid-template-areas: " main";
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
