.postModal_container {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.postModal_container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.postModal_container-header .title {
  font-size: 2.4rem;
  font-weight: 500;
}

.postModal_container-header svg {
  font-size: 2.8rem;
}

.postModal_InfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.postModal_InfoContainer textarea {
  width: 100%;
  min-height: 15rem;
  resize: none;
  border: none;
  outline: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-family: inherit;
}

.addPost_message textarea:focus {
  outline: none;
}

.postModal_BtnContainer {
  width: 100%;
  gap: 2rem;
  justify-content: flex-end;
}

.postModal_BtnContainer .postModal_ImgUpload-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.postModal_ImgUpload-container .newPostModalImg-container {
  position: relative;
  max-width: 15rem;
  height: 15rem;
  width: 100%;
  border: 1px solid var(--border-color-dark);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.newPostModalImg-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 0.5rem;
  transform: scale(0.96);
}

.newPostModalImg-container span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4%;
  right: -10%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  height: 2.5rem;
  width: 2.5rem;
  border: 1.5px solid var(--border-color-dark);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--background-color-three);
  color: var(--dark-color-one);
  transition: all 0.25s;
}

.newPostModalImg-container span:hover {
  color: var(--error-color);
}

.postModal_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
}

.postModal_footer svg {
  font-size: 3.2rem;
  margin-right: 1.5rem;
  transition: all 0.25s;
  cursor: pointer;
}

.postModal_footer svg:hover {
  color: var(--primary-color-one);
}

.postModal_footer .uploadImage {
  display: none;
}

.postModal_footer .updatepostBtn {
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
  margin-left: auto;
  border-radius: 0.5rem;
  transition: all 0.25s;
}

.postBtn:hover {
  background-color: var(--primary-color-two);
}

.emojiPicker_container {
  position: relative;
}

.emojiPicker_container-box {
  position: absolute;
  top: 0%;
  left: 65%;
}

.sprectrumApp_container.postModalActive {
  background-color: var(--text-color-one);
  z-index: -50;
}

.sprectrumApp_container.postModalActive .homePage_container {
  background-color: var(--text-color-one) !important;
  z-index: -50;
}
