.signUpPage_container {
  max-width: 45rem;
  width: 100%;
  gap: 0.75rem;
  padding: 2rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
}

.signUpPage_container .app-title {
  display: none;
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--primary-color-one);
  text-align: center;
}

.signUp_title {
  text-align: center;
  font-size: 2.8rem;
  padding-bottom: 0.5rem;
}

.signUpError_server-message {
  text-align: center;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  color: var(--secondary-color-one);
  background-color: var(--error-color);
  border-radius: 0.5rem;
  font-size: 500;
}

.signUp_form {
  gap: 0.25rem;
}

.signUp_form label {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
}

.signUp_form label span {
  color: var(--error-color);
}

.signUp_form input {
  display: inline-block;
  width: 100%;
  border: 0;
  padding: 1rem 1.6rem;
  border: 1px solid var(--border-color-dark);
  border-radius: 5px;
  font-size: 1.8rem;
}

.signUpError_text {
  color: var(--error-color);
  font-size: 1.6rem;
  margin-left: 0.25rem;
}

.signUpPage-policyText {
  margin: 0.5rem 0;
}

.signUpPage-policyText span {
  display: inline-block;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  color: var(--text-color-two);
}

.signUpBtn {
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  margin: 0.5rem 0;
}

.goto_login-text {
  font-size: 1.6rem;
}

.goto_login-text a {
  margin-left: 0.5rem;
  font-size: 1.7rem;
  color: var(--primary-color-one);
  text-decoration: underline;
}

.signUpBtn:hover {
  transform: scale(1.01);
}

/* 48em === 768px */
@media (max-width: 48em) {
  .signUpPage_container {
    gap: 0.75rem;
    padding: 2rem 1.5rem;
  }
}

/*  720px = 45rem */

@media (max-width: 45em) {
  .signUpPage_container {
    padding: 2rem 3rem;
  }

  .signUpPage_container .app-title {
    display: block;
  }
}

/*  432px = 27rem */

@media (max-width: 27em) {
  .signUpPage_container {
    padding: 2rem;
  }

  .signUpPage_container .app-title {
    font-size: 3.2rem;
  }

  .signUpBtn {
    padding: 0.7rem 1.4rem;
    font-size: 1.8rem;
  }
}

/*  384px = 24rem */

@media (max-width: 27em) {
  .signUpPage_container {
    padding: 2rem 1rem;
  }
}
